<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       	<!-- Proprietes pour se connecter au serveur  HSQLDB. -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:mem:dbtest</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
		
		<!-- Proprietes pour se connecter au serveur MySQL. 
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/hibernate?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property> -->
		<!-- mysql\bin\my.ini -->
		<!-- collation_server=utf8_unicode_ci -->
		<!-- character_set_server=utf8 -->
        
        <!-- Affiche les requetes transmises. -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- Efface et creee la structure de la base de donnees a chaque lancement. -->
        <property name="hbm2ddl.auto">create</property>
         
        <!-- Gestion de la session a l'aide d'un thread. -->
        <property name="current_session_context_class">thread</property>
		
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
		<!--
        <mapping class="commerce.catalogue.domaine.modele.Article"/>
    	<mapping class="commerce.catalogue.domaine.modele.Livre"/>
    	<mapping class="commerce.catalogue.domaine.modele.Musique"/>
    	<mapping class="commerce.catalogue.domaine.modele.Piste"/> -->
    </session-factory>
</hibernate-configuration>
